package ${packageName}.service;

import ${packageName}.model.entity.${ClassName};
import ${packageName}.model.vo.Search${ClassName}VO;
#if($table.tplCategory.getCode() == "crud")
import com.baomidou.mybatisplus.core.metadata.IPage;
#end

import java.util.List;

/**
 * ${functionName}Service接口
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface I${ClassName}Service {

#if($table.tplCategory.getCode() == "crud")
    /**
     * 查询${functionName}分页
     *
     * @param search 查询条件
     * @return 分页结果
     */
    IPage<${ClassName}> getPage(Search${ClassName}VO search);

#end
    /**
     * 查询${functionName}列表，入参为空时可查询全部
     * 
     * @param search 查询条件
     * @return ${functionName}集合
     */
    List<${ClassName}> getList(Search${ClassName}VO search);

    /**
     * 查询${functionName}
     *
     * @param ${pkColumn.javaField} ${functionName}ID
     * @return ${functionName}
     */
    ${ClassName} getById(${pkColumn.javaType} ${pkColumn.javaField});

    /**
     * 新增或修改${functionName}
     * 
     * @param ${className} ${functionName}
     * @return 结果
     */
    void saveOrUpdate(${ClassName} ${className});

    /**
     * 删除${functionName}信息
     *
     * @param ${pkColumn.javaField} ${functionName}ID
     * @return 结果
     */
    int deleteById(${pkColumn.javaType} ${pkColumn.javaField});

    /**
     * 批量删除${functionName}
     * 
     * @param ${pkColumn.javaField}List 需要删除的${functionName}ID
     * @return 结果
     */
    int deleteByIds(List<${pkColumn.javaType}> ${pkColumn.javaField}List);

}
