<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.airboot.project.system.mapper.SysMenuMapper">

    <select id="findList" resultType="com.airboot.project.system.model.entity.SysMenu">
        SELECT *, ifnull(perms,'') as perms
        FROM sys_menu
        <where>
            <if test="idList != null and idList.size() > 0">
                and id in
                <foreach collection="idList" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="menuName != null and menuName != ''">
                AND menu_name like concat('%', #{menuName}, '%')
            </if>
            <if test="hidden != null">
                AND hidden = #{hidden}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="queryType != null and queryType == 'tree'">
                and menu_type in (0, 1) and status = 1
            </if>
        </where>
        order by parent_id, order_num
    </select>

    <select id="findMenuTreeAll" resultType="com.airboot.project.system.model.entity.SysMenu">
        SELECT *, ifnull(perms,'') as perms
        from sys_menu where menu_type in (0, 1) and status = 1
        order by parent_id, order_num
	</select>
    
    <select id="findMenuPerms" resultType="String">
		select distinct perms
		from sys_menu
	</select>
    
    <select id="findMenuPermsInIdList" resultType="String">
		select distinct perms
		from sys_menu
		where status = 1 and id in
        <foreach collection="idList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
	</select>

    <select id="findCheckedIdList" resultType="Long">
		select id, parent_id
		from sys_menu
        where id in
        <foreach collection="idList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        and id not in (
            select m.parent_id
            from sys_menu m
            where m.id in
            <foreach collection="idList" item="mid" open="(" separator="," close=")">
                #{mid}
            </foreach>
        )
		order by parent_id, order_num
	</select>

    <select id="hasChildByMenuId" resultType="Integer">
	    select count(1) from sys_menu where parent_id = #{menuId}  
	</select>

</mapper> 
